@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6">
                    <#input id="id" name="ID" value="${item.id}" readonly="true" underline="true"/>
                    <#input id="confName" name="参数名" value="${item.confName}" readonly="true" underline="true"/>
                    <#input id="confValue" name="参数值" value="${item.confValue}" underline="true"/>
                    <#input id="comment" name="备注" value="${item.comment}" underline="true"/>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="ConfigInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="ConfigInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/webadmin/params/config_info.js"></script>
@}
