<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmd.wallet.common.mapper.UserBillMapper">
    <select id="getUserBill" resultType="com.cmd.wallet.common.vo.UserBillVO">
        select * from t_user_bill where 1=1
        <if test="userId != null">
            and user_id = #{userId}
        </if>
        ORDER BY last_time DESC
    </select>

    <select id="getUserBillByReason" resultType="com.cmd.wallet.common.vo.UserBillVO">
        SELECT  * FROM t_user_bill
        WHERE 1=1
        <if test="userId!=null">
            AND user_id=#{userId}
        </if>
        <if test="coinName!=null">
            AND coin_name=#{coinName}
        </if>
        <if test="array!=null and array.length>0">
            AND reason in
            <foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        AND sub_type = 0
        ORDER BY last_time DESC
    </select>

    <select id="getUserBillByReason2" resultType="com.cmd.wallet.common.vo.UserBillVO">
        SELECT t1.*, t2.user_name FROM t_user_bill t1
        LEFT JOIN t_user t2 ON t1.user_id=t2.id
        WHERE 1=1
        <if test="userId!=null">
            AND t1.user_id=#{userId}
        </if>
        <if test="coinName!=null">
            AND t1.coin_name=#{coinName}
        </if>
        <if test="userName !=null and userName!=''">
            AND t2.user_name = #{userName}
        </if>
        <if test="array!=null and array.length>0">
            AND t1.reason in
            <foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        ORDER BY t1.last_time DESC
    </select>
</mapper>